

ul {

    list-style-type: none;
    margin: 0;
    
    text-align: center;
    
}




#sidebar {
    position: absolute;
    top: 50px;
    right: 0px;
    width:150px;
    
    
    text-align: center;
 
}

